##################################
# Maven / Spring Boot
##################################
target/
build/
out/
*.jar
*.war
*.ear

##################################
# Wrapper
##################################
.mvn/wrapper/maven-wrapper.jar

##################################
# Application secrets
##################################
.env
*.env

##################################
# Docs & exports
##################################
/docs
docs/
*.pdf
*.docx
*.xlsx
*.pptx
*.dump
*.zip

##################################
# Logs
##################################
*.log
logs/
*.tmp

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Spring Tool Suite (STS)
##################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##################################
# IntelliJ IDEA
##################################
.idea
*.iws
*.iml
*.ipr

##################################
# VS Code
##################################
.vscode/

##################################
# NetBeans
##################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

##################################
# Allow build folders inside src
##################################
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
